/* Reset some default styles for a clean slate */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

header {
    background-color: #333;
    color: white;
    padding: 20px;
}

header h1 {
    font-size: 24px;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}
li:hover {
    text-decoration: underline;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 100px;
    background-color: white;
    box-shadow: 10px 10px 0px  black;
}

.welcome {
    text-align: center;
    margin-bottom: 30px;
}

.welcome h2 {
    font-size: 28px;
}

.featured-exhibitions h2 {
    font-size: 40px;
    margin-bottom: 20px;
}
.featured-exhibitions ul{
    font-size: large;
}
