body, h1, h2, h3, p, ul, li, img {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
    text-shadow: 2px 1.5px black;

}

header h1 {
    font-size: 24px;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}
li:hover {
    text-decoration: underline;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 10px 10px 0px  black;
}

.user-profile {
    text-align: center;
    margin-bottom: 30px;
}

.user-profile h2 {
    font-size: 28px;
}

.profile-info {
    margin-top: 20px;
}

.profile-info img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.profile-info h3 {
    font-size: 24px;
}

.profile-info p {
    font-size: 18px;
    margin-bottom: 10px;
}
.profile-info input {
    display: none;
    width: 100%;
    font-size: 18px;
    padding: 5px;
    margin-bottom: 10px;
}

.profile-info .edit-mode input {
    display: block;
}
#edit-profile{
    background-color: black;
    color: whitesmoke;

}
#profile-picture-upload {
    display: none;
}

#profile-picture {
    cursor: pointer;
    border: 5px solid black;
}

#profile-picture:hover {
    border: 4px solid #666;
}
