body {
    font-family: Arial, sans-serif;
}
body, h1, h2, p, ul, li, button {
    margin: 0;
    padding: 0;
}
header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
    text-shadow: 2px 1.5px black;

}

main {
    padding: 20px;
}
nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}
li:hover {
    text-decoration: underline;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}
.exhibition-list {
    display: grid;
    grid-gap: 1.7em;
    grid-template-columns:repeat(auto-fit,minmax(350px,1fr));
    grid-template-rows: repeat(4,auto-fit);
}

.exhibition {
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    padding: 2rem;
    text-align: center;
    transition: transform 0.3s;
    box-shadow: 10px 10px 0px  black;;
}

.exhibition:hover {
    transform: translateY(-5px);
}

.exhibition img {
    max-width: 100%;
    min-height: 30%;
}

.view-details {
    display: inline-block;
    background-color: #333;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    margin-top: 10px;
}

.artwork-details {
    display: none;
    padding: 20px;
    border: 1px solid #ddd;
    background-color: #f5f5f5;
    text-align: center;
}

.artwork-image {
    max-width: 100%;
    height: auto;
}

.add-to-cart {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

.add-to-cart:hover {
    background-color: #555;
}
